  <div id="ms-pop-new-customer" class="sub-menu-app-pop-overlay">
    <div class="sub-menu-app-pop" id="pop2">
      <button class="sub-menu-app-pop-close" onclick="hidePop('ms-pop-new-customer')">&times;</button>
      <h3>Mensaje 2</h3>
        <div>
            <label>{{t 'form_cases.caseNumber.label'}}</label>
            <input type="text" placeholder="{{t 'form_cases.caseNumber.placeholder'}}" />
        </div>
        <div></div>
        <div>
            <label>{{t 'form_cases.caseCustomer.label'}}</label>
            <input type="text" placeholder="{{t 'form_cases.caseCustomer.placeholder'}}" />
        </div>
    </div>
  </div>