<nav class="sub-menu-app-nav">
    <div class="sub-menu-app-nav-container">

        <div class="sub-menu-app-nav-item">
            <a class="sub-menu-app-nav-link sub-menu-app-link-base">Clientes</a>
            <div class="sub-menu-app-submenu">
                <a class="sub-menu-app-link-base" onclick="showPop('ms-pop-new-customer')">Nuevo</a>
                <a class="sub-menu-app-link-base">Listado</a>
                <a class="sub-menu-app-link-base">Segmentación</a>
            </div>
        </div>

        <div class="sub-menu-app-nav-item">
            <a class="sub-menu-app-nav-link sub-menu-app-link-base">Casos</a>
            <div class="sub-menu-app-submenu">
                <a class="sub-menu-app-link-base">Nuevo caso</a>
                <a class="sub-menu-app-link-base">Mis casos</a>
            </div>
        </div>

        <div class="sub-menu-app-nav-item">
            <a class="sub-menu-app-nav-link sub-menu-app-link-base">Tareas</a>
            <div class="sub-menu-app-submenu">
                <a class="sub-menu-app-link-base">Crear</a>
                <a class="sub-menu-app-link-base">Calendario</a>
            </div>
        </div>

        <div class="sub-menu-app-nav-item">
            <a class="sub-menu-app-nav-link sub-menu-app-link-base">Reportes</a>
            <div class="sub-menu-app-submenu">
                <a class="sub-menu-app-link-base">Clientes</a>
                <a class="sub-menu-app-link-base">Casos</a>
            </div>
        </div>

        <div class="sub-menu-app-nav-item">
            <a class="sub-menu-app-nav-link sub-menu-app-link-base">Configuración</a>
            <div class="sub-menu-app-submenu">
                <a class="sub-menu-app-link-base">Usuarios</a>
                <a class="sub-menu-app-link-base">Sistema</a>
            </div>
        </div>

    </div>
</nav>